@import url("https://fonts.googleapis.com/css?family=Cagliostro|Special+Elite&display=swap");

/* General */
:root {
  --primary-color: rgb(255, 255, 255);
  --light-color: rgba(255, 255, 255, 0.815);
  --borders-1: rgba(42, 72, 124, 0.644);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Cagliostro", sans-serif;
  font-size: 1rem;
}

/* Containers */
.container {
  min-height: 100vh;
  margin: auto;
  background: url("./img/autumn2dark.jpg") no-repeat right center/cover;
}

.overlay {
  width: 100%;
  min-height: 100vh;
  background-color: rgba(97, 153, 144, 0.055);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: row;
  margin-top: 4vw;
  border: 1px solid var(--borders-1);
}

.title-container {
  width: 20vw;
  background: url("./img/autumn2hl.jpg") no-repeat center/cover;
  padding: 3%;
  border-right: 1px solid var(--borders-1);
}

.user-form {
  width: 27vw;
  padding: 5%;
  background: rgba(119, 115, 150, 0.329);
}

.success {
  margin-top: 5vh;
  width: 40vw;
  padding: 3%;
  border: 1px solid var(--borders-1);
  background: rgba(162, 151, 235, 0.253);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Text Styles*/

.xx-large {
  font-size: 6rem;
  font-weight: normal;
  color: var(--light-color);
  font-family: "Special Elite", cursive;
}

.x-large {
  margin-top: -5%;
  margin-bottom: -2%;
  font-size: 4rem;
  font-weight: normal;
  color: var(--light-color);
  font-family: "Special Elite", cursive;
}

.large {
  font-size: 2.5rem;
  line-height: 1.2;
  margin-bottom: 0.5rem;
  font-weight: normal;
}

.medium {
  font-size: 1.8rem;
  font-weight: normal;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.15rem;
  font-weight: normal;
  margin-bottom: 1rem;
  color: var(--primary-color);
}

.text-primary {
  color: var(--primary-color);
}

.text-error {
  font-size: 0.9rem;
  color: var(--light-color);
}

#success-msg {
  margin-bottom: 20%;
}

/* Buttons*/

.btn {
  display: inline-block;
  background: var(--primary-color);
  padding: 0.3rem 1rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.btn-primary {
  background: rgba(19, 52, 94, 0.63);
  font-family: "Cagliostro", sans-serif;
  color: #fff;
}

.btn:hover {
  opacity: 0.8;
}

/* Forms */

.form-group {
  margin-top: 0.01rem;
  display: flex;
  flex-direction: column;
}

.form .form-text {
  width: 100%;
  display: block;
  margin-top: 0.2rem;
  color: #888;
}

.form input[type="text"] {
  display: block;
  width: 100%;
  padding: 0.35rem;
  font-size: 1.2rem;
  border: 1px solid rgba(119, 129, 221, 0.356);
  background: rgba(1, 9, 19, 0.288);
}

input::placeholder {
  font-family: "Cagliostro", sans-serif;
  color: rgba(190, 204, 233, 0.938);
}

input {
  font-family: "Cagliostro", sans-serif;
  color: rgb(255, 255, 255);
}

.hidden {
  opacity: 0;
}

@media (max-width: 1400px) {
  .wrapper {
    margin-top: 5vw;
  }

  .title-container {
    width: 23vw;
  }

  .user-form {
    width: 30vw;
  }

  .xx-large {
    font-size: 5rem;
  }
  .large {
    font-size: 1.8rem;
  }
  .medium {
    font-size: 1.3rem;
  }

  .lead {
    font-size: 0.8rem;
  }

  .btn {
    font-size: 0.85rem;
  }
  .form input[type="text"] {
    font-size: 1rem;
  }
  .text-error {
    font-size: 0.8rem;
  }
}

@media (max-width: 1150px) {
  .title-container {
    width: 26vw;
    padding: 3%;
  }

  .user-form {
    width: 32vw;
  }

  .xx-large {
    font-size: 4rem;
    font-weight: normal;
  }

  .x-large {
    margin-top: -5%;
    margin-bottom: -2%;
    font-size: 3rem;
  }
  .large {
    font-size: 1.6rem;
  }
  .medium {
    font-size: 1.1rem;
  }

  .lead {
    font-size: 0.8rem;
  }

  .btn {
    font-size: 0.8rem;
  }
  .form input[type="text"] {
    font-size: 0.9rem;
  }
  .text-error {
    font-size: 0.7rem;
  }
}

@media (max-width: 900px) {
  .title-container {
    width: 30vw;
  }

  .user-form {
    width: 40vw;
  }

  .xx-large {
    font-size: 3.8rem;
    font-weight: normal;
  }

  .x-large {
    margin-top: -3%;
    margin-bottom: -8%;
    font-size: 1.9rem;
  }
  .large {
    font-size: 1.5rem;
  }

  .lead {
    font-size: 0.9rem;
  }

  .text-error {
    font-size: 0.75rem;
  }
}

@media (max-width: 700px) {
  .wrapper {
    margin-top: 4vw;
    flex-direction: column;
  }

  .title-container {
    width: 70vw;
    padding: 3%;
    padding-bottom: 15%;
  }

  .user-form {
    width: 70vw;
  }

  .xx-large {
    font-size: 3rem;
    font-weight: normal;
  }

  .x-large {
    margin-top: -1%;
    margin-bottom: -4%;
    font-size: 1.4rem;
  }
  .large {
    font-size: 1.6rem;
  }
  .medium {
    font-size: 0.9rem;
  }

  .btn {
    font-size: 0.8rem;
  }
  .form input[type="text"] {
    font-size: 1rem;
  }
  .text-error {
    font-size: 0.8rem;
  }
}

@media (max-width: 500px) {
  .xx-large {
    font-size: 2.6rem;
    font-weight: normal;
  }

  .x-large {
    margin-top: -3%;
    margin-bottom: -8%;
    font-size: 1.2rem;
  }
  .large {
    font-size: 1.4rem;
  }
  .medium {
    font-size: 0.8rem;
  }

  .lead {
    font-size: 0.8rem;
  }

  .btn {
    font-size: 0.75rem;
  }
  .form input[type="text"] {
    font-size: 0.9rem;
  }
  .text-error {
    font-size: 0.75rem;
  }
}
