@import url("https://fonts.googleapis.com/css?family=Cagliostro|Open+Sans&display=swap");

/* General */
:root {
  --primary-color: rgba(208, 231, 236, 0.938);
  --dark-color: rgba(7, 4, 27, 0.664);
  --light-color: rgba(255, 255, 255, 0.58);
  --borders-1: rgba(42, 72, 124, 0.644);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Cagliostro", sans-serif;
  font-size: 1rem;
}

/* Containers */
.container {
  min-height: 100vh;
  margin: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("./img/autumn2f.jpg") no-repeat fixed center/cover;
}

.user-form {
  margin-top: 5vh;
  width: 45vw;
  padding: 5%;
  border: 1px solid var(--borders-1);
  background: var(--dark-color);
}

.success {
  margin-top: 5vh;
  width: 40vw;
  padding: 3%;
  border: 1px solid var(--borders-1);
  background: var(--dark-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Text Styles*/
.medium {
  font-size: 1.8rem;
  font-weight: normal;
  margin-bottom: 1rem;
}

.large {
  font-size: 2.5rem;
  line-height: 1.2;
  margin-bottom: 0.5rem;
  font-weight: normal;
}

.lead {
  font-size: 1.15rem;
  font-weight: normal;
  margin-bottom: 1rem;
  color: var(--primary-color);
}

.text-primary {
  color: var(--primary-color);
}

.text-error {
  font-size: 0.9rem;
  color: var(--light-color);
}

#success-msg {
  margin-bottom: 20%;
}

/* Buttons*/

.btn {
  display: inline-block;
  background: var(--primary-color);
  padding: 0.3rem 1rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.btn-primary {
  background: var(--borders-1);
  font-family: "Cagliostro", sans-serif;
  color: #fff;
}

.btn:hover {
  opacity: 0.8;
}

/* Forms */

.form-group {
  margin-top: 0.01rem;
  display: flex;
  flex-direction: column;
}

.form .form-text {
  width: 100%;
  display: block;
  margin-top: 0.2rem;
  color: #888;
}

.form input[type="text"] {
  display: block;
  width: 100%;
  padding: 0.35rem;
  font-size: 1.2rem;
  border: 1px solid var(--borders-1);
  background: var(--dark-color);
}

input::placeholder,
input {
  font-family: "Cagliostro", sans-serif;
  color: var(--light-color);
}

.hidden {
  opacity: 0;
}

@media (max-width: 900px) {
  .user-form {
    margin-top: 6vh;
    width: 55vw;
  }
  .large {
    font-size: 1.8rem;
  }
  .medium {
    font-size: 1.3rem;
  }

  .lead {
    font-size: 0.8rem;
  }

  .btn {
    font-size: 0.85rem;
  }
  .form input[type="text"] {
    font-size: 1rem;
  }
  .text-error {
    font-size: 0.8rem;
  }
}

@media (max-width: 700px) {
  .user-form {
    margin-top: 5vh;
    width: 80vw;
    padding: 4%;
  }
  .large {
    font-size: 1.4rem;
  }

  .medium {
    font-size: 1.1rem;
  }

  .lead {
    font-size: 0.8rem;
  }
  .btn {
    font-size: 0.8rem;
  }
  .form input[type="text"] {
    font-size: 0.9rem;
  }
  .text-error {
    font-size: 0.8rem;
  }
}
